legend{
    border:3px solid #cacaca;
  
}
#mfieldset{
   width: 364px;
   height: 253px;
   border-right-width: 2px;
   margin-left: 150px;
   margin-top: 76px;
   background-color:#e0e1fe ;
   border-radius: 10px;
   border-style: outset;
}
.coloum1{
    width: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
    

}
.coloum2{
    width: 70%;
    margin-left: 50px;
    vertical-align: top;
}
.dRow {
    display: flex;
   
}
a{
    font-size: 15px;
    color: red;
}
button{
    background-color: rgb(246, 196, 210);
}
h6{
    font-size: 10px;
    margin-bottom: 10px;
}