.flex{
    display: flex;
    flex-direction: column;
}
.s-cont{
    display: flex;
    justify-content: space-around;
}

.j-content{
    display: flex;
    justify-content: space-evenly;
}
.t-list{
    display: flex;
}

body{
    display: flex;
    justify-content: center;
}

.main-div{
    width: 50%;
    border-style: solid; 
    border-color: rgb(9, 9, 228);
}

.w-50{
    width: 50%;
}



 